*{
    margin: 0px;
    border: 0px;
}
/* sign-up button */
.btn-success{
    background-color: rgba(76,175,79,255) !important;
}
/* login button */
.login-btn{
    color: rgba(76,175,79,255) !important;
}
 /* marketing cards */
.model{
    position: relative;
    left: 5px;
    bottom: 68px;
}
.modelContent{
    width: 235px;
    height: 112px;  
    background-color: #f5f7fa;;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.navbar{
    z-index: 9;
}

/* carousel text */
.banner-text{
    padding-top: 100px;
    color: black;
}
.time-span{
    color: #4caf4f;
}

/* carousel image */
.bannerImage{
    padding-top: 50px;
    padding-bottom: 40px;
    height: 400px;
}

/* carousel button */
.register-btn{
    background-color: #4caf4f;
    border-radius: 5px 5px 5px 5px;
    color: #fafdfa;
}
/* how to design */
.design{
    color: #898a8b;;
}

/* login pop-up  */
.login-box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fafdfa;  
    background-color: rgba(0, 0, 0, 0.7);;
    position: fixed;
    top: 0px;
    justify-content: center;
    text-align: center;

}
.login-content{
    width: 450px;
    height: 230px;
    background-color: white;
    justify-content: center;
    position: absolute;
    top: 160px;
    display: flex;
}

/* login input */
input{
    width: 120%;
    display: block;
    border: 1px solid lightgray;
}

/* login close button */
.close{
    position: absolute;
    bottom: 200px;
    left: 420px;
    font-size: 30px;
    cursor: pointer;
}

/* sticky nav-bar */
nav.hi{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}
nav.hi ul{
    width: auto;
}

.spending-img{
    width: 350px;
}

.list-items {
    width: 100px;
    background: white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: black;
    text-align: center;
}
.show{
    visibility: visible;
    opacity: 1;
}

.down-arrow{
    height: 30px;
    width: 35px;
}